<!doctype html>
<head th:replace="fragments/layout::head"></head>
<body>
<main class="container">
    <h1>Connections</h1>
    <table id="connections" class="striped">
        <thead th:replace="fragments/connections_table::thead">
        </thead>
        <tbody>
        <th:block th:each="conn : ${connections}">
            <tr  th:replace="fragments/connections_table::row(connection=${conn})">
            </tr>
        </th:block>
        </tbody>
    </table>

    <h2>Ajouter une connexion</h2>
    <form method="post"
          hx-post="/connections"
          hx-select="tbody tr"
          hx-target="#connections > tbody"
          hx-swap="beforeend"
          hx-on::after-request="if(event.detail.successful) this.reset()"
    >
        <fieldset class="grid">
            <label>
                Name
                <input type="text" name="conn_name">
            </label>
            <label>
                Url
                <input type="text" name="conn_url">
            </label>
        </fieldset>
        <fieldset class="grid">
            <label>
                Username
                <input type="text" name="conn_username">
            </label>
            <label>
                Password
                <input type="password" name="conn_password">
            </label>
        </fieldset>
        <button type="submit">Add</button>
    </form>
</main>
<th:block th:replace="fragments/layout::bodyend"></th:block>
</body>
