<!doctype html>
<head th:replace="fragments/layout::head"></head>
<body>
<main class="container">
    <h1 th:text="|Query tool (${connection.name})|"></h1>
    <div class="query-grid">
        <aside id="tables">
            <h2>Tables</h2>
            <ul aria-busy="true"
                th:hx-get="|/connections/${connection.tid}/query/tables|"
                hx-trigger="load"
                hx-swap="outerHTML"
            ></ul>

            <button th:hx-post="|/connections/${connection.tid}/dump|" hx-swap="outerHTML">Download database dump</button>
        </aside>

        <div id="query_form">
            <h2><label for="query_sql">Execute query</label></h2>
            <form
                th:hx-post="|/connections/${connection.tid}/query|"
                hx-target="#result"
            >
                <textarea name="query_sql" id="query_sql"></textarea>
                <button type="submit">Execute</button>
            </form>
        </div>

        <div id="result">
        </div>
    </div>
</main>
<th:block th:replace="fragments/layout::bodyend"></th:block>
</body>
