/** Query view */
.query-grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 300px;
}

#tables {
    grid-row-start: 1;
    grid-row-end: 3;
    border-right: 1px solid var(--pico-accordion-border-color);
    overflow-y: scroll;
    white-space: nowrap;

    ul {
        padding: 0;
    }

    .columns li {
        padding-bottom: 0;
        padding-top: 0;
    }

    .attributes {
        color: lightgray;
    }
}

#result {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 1px solid var(--pico-accordion-border-color);
    padding: 20px;
}

#query_form {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
}

/** Progress css from the hypermedia book */
.progress {
    height: 20px;
    margin: 5px 5px 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
}




/** Found here : https://github.com/picocss/pico/issues/12 */
.alert {
    --iconsize: 30px;  /* 24px / 30px if $enable-responsive-spacings */
    margin-bottom: var(--pico-spacing); /* some default space below alert element */
    padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal); /* same as forms .input */
    border-radius: var(--pico-border-radius);
    color: var(--color);
    background-color: var(--background-color);
    border: 1px solid var(--background-color); /* compensate for 1px border */

    background-image: var(--icon);
    background-position: center left var(--pico-form-element-spacing-vertical); /* use vertical for icon left align*/
    background-size: var(--iconsize) auto;
    padding-left: calc(var(--pico-form-element-spacing-vertical) * 2 + var(--iconsize));
}
.alert-danger {
    --background-color: #ffebee;
    --icon: var(--pico-icon-invalid);
    --color: #b71c1c;
}
.alert-warning {
    --background-color: #fff8e1;
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{rgba(darken($amber-900, 15%), .999)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
    --color: #ff6f00;
}
.alert-success {
    --background-color: #e8f5e9;
    --icon: var(--pico-icon-valid);
    --color: #1b5e20;
}
