<table>
    <thead>
        <tr>
            <th>tid</th>
            <th>Name</th>
            <th>URL</th>
            <th>Username</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:fragment="row(connection)">
            <td th:text="${connection.tid}">89565489-0db7-45f2-ae2c-5b2cbc903f0a</td>
            <td th:text="${connection.name}">Hello</td>
            <td th:text="${connection.url}">jdbc:postgres://localhost:5432/postgres</td>
            <td th:text="${connection.username}">postgres</td>
            <td>
                <button th:hx-delete="|/connections/${connection.tid}|"
                        hx-target="closest tr" hx-swap="delete" class="outline">❌ Del</button>
                <a th:disabled="${connection.canBeConnectedTo()} ? false : true" role="button" th:href="|/connections/${connection.tid}/query|">Query tool</a>
            </td>
        </tr>
    </tbody>
</table>
