<div>
    <div class="progress">
        <div
             id="dump-progress"
             class="progress-bar"
             role="progressbar"
             th:aria-valuenow="|${progress}|"
             th:style="|width: ${progress}%|"></div>
    </div>
    <a th:if="${progress}==100" th:href="${url}">Download file</a>
    <p th:if="${progress} < 100"
       th:hx-post="|/connections/${connection.tid}/dump|"
       hx-swap="outerHTML"
       hx-trigger="load delay:500ms"
       hx-target="closest div"
    >Preparing database dump...</p>
</div>
