<ul
    hx-trigger="business:schema-updated from:body"
    th:hx-get="|/connections/${connection.tid}/query/tables|"
    hx-swap="outerHTML"
    hx-headers='{ "Cache-control": "no-cache" }'
>
    <li th:each="table : ${tables}">
        <details open>
            <summary th:text="${table.name}"></summary>
            <ul class="columns" th:each="column : ${table.columns}">
                <li>
                    <span th:text="${column.name}"></span>
                    <strong th:text="${column.type}"></strong>
                    <span class="attributes" th:text="${column.attributes}"></span></li>
            </ul>
        </details>
    </li>
</ul>
