<table>
    <thead>
        <tr><th th:each="col : ${columns}" th:text="${col}"></th></tr>
    </thead>
    <tbody>
        <tr th:each="row : ${data}">
            <td th:each="c : ${row.values}" th:text="${c}"></td>
        </tr>
    </tbody>
</table>
